.heroBanner {
    padding: 15rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
  
  .featureImage {
    height: 200px;
    width: 200px;
  }

@media scren and (max-width: 430px) {
  .heroBanner {
      padding: 14rem 0;
      margin: 0;
      background-color: #6699CC;
  }
}

@media screen and (max-width: 414px) {
  .heroBanner {
      padding: 12rem 0;
      margin: 0;
      background-color: #6699CC;
  }
}

@media screen and (max-width: 375px) {
  .heroBanner {
      padding: 6rem 0;
      margin: 0;
  }
}